{% extends "base.html" %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} mt-2">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block main %}
<div class="property-form-wrapper">
    <h1 class="page-title">Add New Property</h1>

    <div class="property-form-card">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.title.label(class="form-label") }}
                {{ form.title(class="form-control", placeholder="Property Title") }}
            </div>

            <div class="mb-3">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control", rows="3", placeholder="Description") }}
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form.bedrooms.label(class="form-label") }}
                    {{ form.bedrooms(class="form-control", placeholder="3") }}
                </div>

                <div class="col-md-6 mb-3">
                    {{ form.bathrooms.label(class="form-label") }}
                    {{ form.bathrooms(class="form-control", placeholder="2") }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form.price.label(class="form-label") }}
                    {{ form.price(class="form-control", placeholder="15,000,000") }}
                </div>

                <div class="col-md-6 mb-3">
                    {{ form.property_type.label(class="form-label") }}
                    {{ form.property_type(class="form-select") }}
                </div>
            </div>

            <div class="mb-3">
                {{ form.location.label(class="form-label") }}
                {{ form.location(class="form-control", placeholder="10 Waterloo Rd") }}
            </div>
            <div class="mb-3">
                {{ form.photo.label(class="form-label") }}
                {{ form.photo(class="form-control form-control-sm") }}
            </div>

            <button type="submit" class="btn btn-primary">Add Property</button>
        </form>
    </div>
</div>
{% endblock %}